* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Elsie";
}
body {
  height: 100vh;
  background:  #e8b3f4;
  border-radius: 50px;
}

a:link
 { 
  text-decoration: none; 
}

.txtcolor {
  color: #b830d3;
  text-align: center;
  font-family: "Elsie";
  font-size: 150%;
  padding: 50px;
}

.txtcolor:hover {
  color: purple;
  text-align: center;
  font-family: "Elsie";
  font-size: 150%;
  padding: 50px;
}

.calculator {
  width: 400px;
  background-color: #b830d3;
  padding: 10px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 15%;
  box-shadow: 0 20px 50px rgba(136, 14, 198, 0.4);
}

@media only screen and (max-width: 600px) {

  .txtcolor {
    color: purple;
    text-align: center;
    font-family: "Elsie";
    font-size: 150%;
    padding-top: 15%;
  }

  
  
  .calculator {
    width: 300px;
    background-color: #b830d3;
    padding: 25px 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50px;
    box-shadow: 0 20px 50px rgba(136, 14, 198, 0.4);
  }

  .display {
    width: 100%;
  }
  .display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 35px;
  }
  
  .display input::placeholder {
    color: #ea97fb;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    border-radius: 50px;
  }
  .buttons input[type="button"] {
    font-size: 15px;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }
  .buttons input[type="button"]:hover {
    box-shadow: 0 8px 25px #e971eb;
  }
  input[type="button"]#equal {
    grid-row: span 2;
    background-color: #750877;
    border-radius: 15%;
    height:100%;
  }

  input[type="button"]#clear {
    background-color: #750877;
    border-radius: 15%;
  }
  input[type="button"]#erase {
    background-color: #750877;
    border-radius: 15%;
  }
 
  input[type="button"][value="0"] {
    grid-column: span 2;
  }

}

.display {
  width: 100%;
}
.display input {
  width: 100%;
  padding: 15px 10px;
  text-align: right;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 35px;
  border-radius: 50px;
}

.display input::placeholder {
  color: #ea97fb;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
  border-radius: 50px;
}
.buttons input[type="button"] {
  font-size: 20px;
  padding: 17px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  
}
.buttons input[type="button"]:hover {
  box-shadow: 0 8px 25px #e971eb;
}
input[type="button"]#equal {
  grid-row: span 1;
  background-color: #750877;
  border-radius: 50%;
  padding: 10px;
}
input[type="button"]#clear {
  background-color: #750877;
 
  border-radius: 50%;
}
input[type="button"]#erase {
  background-color: #750877;
  border-radius: 50%;
}
input[type="button"]#perq {
  background-color: #750877;
  border-radius: 50%;
}
input[type="button"]#pjestim {
  background-color: #750877;
  border-radius: 50%;
}
input[type="button"]#shumezim {
  background-color: #750877;
  border-radius: 50%;
}
input[type="button"]#plus {
  background-color: #750877;
  border-radius: 50%;
}
input[type="button"]#minus {
  background-color: #750877;
  border-radius: 50%;
}

input[type="button"][value="0"] {
  grid-column: span 2;
}

